<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obrigado pela Compra!</title>
    <link rel="stylesheet" href="final.css" />
  </head>
  <body>
    <header>
      <h1>Obrigado pela Sua Compra!</h1>
    </header>
    <main>
      <p>
        Agradecemos por escolher nossos produtos. Seu pedido foi recebido com
        sucesso!
      </p>
      <p>Você receberá um e-mail de confirmação em breve.</p>

      <div class="informacoes-compra">
        <p><strong>Data de Entrega:</strong> <span id="data-entrega"></span></p>
        <p><strong>Código PIX:</strong> 12345678909</p>
        <p>
          <strong>Código de Rastreio:</strong>
          <span id="codigo-rastreio"></span>
        </p>
      </div>

      <a href="../index.html">Voltar para a Página Inicial</a>
    </main>

    <script src="./src/final.mjs"></script>
  </body>
</html>
