<!-- profile.html -->
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Perfil</title>
    <link rel="stylesheet" href="perfil.css" />
  </head>
  <body>
    <header id="header-container">
      <nav id="nav-container">
        <a href="../index.html">
          <img src="/inicial/logo.png" alt="Voltar página inicial" class="logo"
        /></a>
      </nav>
    </header>
    <div id="loading-spinner" style="display: none;">Carregando...</div>
    <h1>Meu Perfil</h1>
    <div id="profile-info">
      <p id="auth-message"></p>
      <p><strong>Nome:</strong> <span id="user-name"></span></p>
      <p><strong>Email:</strong> <span id="user-email"></span></p>
    </div>
    <button id="logout-button" style="display: none">Logout</button>
    <button id="login-button" style="display: none">Fazer Login</button>
  </body>
  <script type="module" src="./src/profile.mjs"></script>
</html>
