<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
  </head>
  <body>
    <header id="header-container">
      <nav id="nav-container">
        <img src="/inicial/logo.png" alt="" class="logo">
        <a href="../index.html">Inicial</a>
      </nav>
    </header>
    <main id="main-container">
      <h2>CADASTRE-SE</h2>
      <p>Preencha todos os campos corretamente.</p>
      <div class="form-login">
        <form action="">
          <label for="user-nome">Nome</label>
          <input type="nome" name="user-nome" id="user-nome" />
          <label for="user-email">Email</label>
          <input type="email" name="user-email" id="user-email" />
          <label for="user-password">Senha</label>
          <input type="password" name="user-password" id="user-password" />
          <button id="bt-entrar">Entrar</button>
        </form>
        <div class="option-register">
          <p>Já tem uma conta?</p>
          <a href="login.html">Logar</a>
        </div>
      </div>
    </main>
  </body>
</html>
