<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <header id="header-container">
      <nav id="nav-container">
        <img src="/inicial/logo.png" alt="" class="logo">
        <a href="../index.html">Inicial</a>
      </nav>
    </header>
    <main id="main-container">
      <h2>ATENÇÃO!</h2>
      <p>Preencha todos os campos corretamente.</p>
      <div class="form-login">
        <form action="/api/users/login" method="post">
          <label for="user-email">Email</label>
          <input type="email" name="email" id="user-email" required />
          <label for="user-password">Senha</label>
          <input type="password" name="password" id="user-password" required />
          <button id="bt-entrar" type="submit">Entrar</button>
        </form>
        <div class="option-login">
          <p>Não tem uma conta?</p>
          <a href="registerView.html">Registrar-se</a>
        </div>
      </div>
    </main>
    <script type="module" src="js/loginManipulaInterface.mjs"></script>
  </body>
</html>
